.border {
	background: #fff;
	border: 1px solid #0f5c8e;
	border-color:#dfdfdf;
	margin-bottom: 0px;
	padding: 1px;
}

.subTabMenu {
	border: 1px solid #cecece;
	border-top: none;
	margin: -2px 0 -1px 0;
	padding: 0 1px 1px 1px;
	position: relative;
	z-index: 0;
}

.subTabMenu:after {
    content: ""; 
    clear: both;
    display: block;
    height: 0;
}

.tabMenu ul {
    margin: 0;
    padding: 0;
}

.tabMenu li {
	background: #fff;
	list-style: none;
	margin: 0 0px 1px 0;
	display: inline-block;
	border: 1px solid #cecece;
	border-bottom: none;
	padding: 1px;
}

.tabMenu li a:link, .tabMenu li a:visited {
	background: #e8edee url('images/tab.png') repeat-x;
	color: #2683a0;
	display: block;
	padding: 5px 12px 8px 12px;
}

li.activeTabMenu a:link, li.activeTabMenu a:visited {
	background: #dfdfdf;
	color: #444444;
}

.subTabMenu .containerHead {
	background: #dfdfdf;
	margin: 0;
	padding: 5px 2px 2px 2px;
	min-height: 5px;
	border-top: 5px solid #dfdfdf;
}

.subTabMenu .containerHead:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

.subTabMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subTabMenu li {
    float: left;
}

.tabMenuContent {
    clear: both;
}

.editorFrame .border {
    margin-bottom: 0 !important;
}

.mceToolbar {
	height: auto !important;
	display: block;
}

.mceToolbar ul {
    margin: 0 3px;
    padding: 0;
    width: 99.5%; 
    display: block;
    float: left;
}

.mceToolbar li {
	background: sss#dfdfdf url('images/tab.png') repeat-x;
	display: block;
	position: relative;
	margin: 0px 2px 4px 0px;
}

.mceToolbar li a {
	background: #e9e8e8;
	display: inline-block;
	margin: 1px;
	padding: 4px;
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid #c9c5c5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mceToolbar li a:hover {
	background: #e0eaed;
	margin: 1px;
	padding: 4px;
	border-color: #9eaaae;
}

.mceToolbar li.activeSubTabMenu a {
	background: #e0eaed;
	margin: 1px;
	padding: 4px;
	border-color: #738d97;
}

.mceToolbar select {
	background: #ffffff;
	border: 1px solid #b2b3ae;
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mceSeparator {
	border: 0;
	margin: 2px 3px 0 3px;
	padding: 0;
	display:none;
}

.fontFormat {
	margin-right: 5px !important;
	height: 1.9em;
	font-size: 9pt;
}

.mceButtonDisabled a img {
    cursor: default;
    opacity: 0.3;
}

.mceButtonDisabled a:hover {
    background: transparent !important;
}

.editorFrame .popupMenu {
    opacity: 1.0 !important;
}

.popupMenu {
	background: #bdbebf;
	width: 113px !important;
	border-width: 1px;
	margin: 0 0 10px 0;
	opacity: .9 !important;
	padding: 3px;
	position: absolute;
	white-space: nowrap;
	z-index: 30;
	height: 81px !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#mce_editor_0_videoMenu {
	height: auto !important;
}

#mce_editor_0_colorMenu {
	height: 81px !important;
}

div.mceColors {
	width: 113px !important;
	background-color: #eee;
	float: left;
	height: auto !important;
}

div.mceColors ul {
	background: #adcbe7;
	width: 112px !important;
	list-style: none;
	margin: 0;
	padding: 1px 0 0 1px;
}

div.mceColors ul li {
	background: #fff;
	width: 15px !important;
	margin: 0 1px 1px 0 !important;
	padding: 0 !important;
	float: left !important;
	display: block !important;
	height: 15px !important;
}

div.mceColors ul li a, div.mceColors ul li a:hover {
	width: 15px !important;
	background-image: none;
	background-repeat: no-repeat !important;
	background-position: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
	height: 15px !important;
	border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

div.mceColors ul li a:hover {
    background-repeat: no-repeat !important;
    background-position: -1px -1px !important;
    border: 1px solid #fff !important;
    width: 13px !important;
    height: 13px !important;
    color:#fff;
}

div.mceVideos {
	width: 113px !important;
	background-color: #eee;
	float: left;
	height: auto !important;
}

div.mceVideo ul {
	background: #eeeeee;
	width: 110px !important;
	margin: 0;
	padding: 1px 2px 0px 1px;
}

div.mceVideo ul li {
	background: #fff;
	width: 100%;
	margin: 0 1px 1px 0 !important;
	padding: 0 !important;
}

div.mceVideo ul li a, div.mceVideo ul li a:hover {
	background: #eeeeee;
	width: auto;
	color: #444444;
	background-image: none;
	background-repeat: no-repeat !important;
	background-position: 0 !important;
	margin: 0 !important;
	padding: 4px 4px 4px 6px !important;
	display: block !important;
	border: none;	
	text-decoration: none;
}

div.mceVideo ul li a:hover {
	color: #333;
}

.mceEditorIframe {
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
}

.iframeHTML, .iframeBody {
	background: #ffffff;
	background-color: transparent !important;
	background-image: none !important;
	clear: both;
}

.iframeBody p {
    margin-bottom: auto;
}

blockquote.wysiwygQuote {
    border-width: 1px;
    border-style: solid;
    margin: 20px;
    padding: 5px;
}

.editorCodeView {
	border: 0;
	margin: 0;
	padding: 0;
	display: none;
	overflow: auto;
	width: 100%;
}

.mceResizeIconRow {
    border-top: none !important;
}

.mceResizeIconRow div {
    height: 24px;
}

.mceResizeIcon {
	width: 23px;
	cursor: se-resize;
	background-image: url('images/editorResizeM.png');
	background-repeat: no-repeat;
	background-position: 8px 7px;
	float: right;
	height: 24px !important;
}

.mceResizeBox {
    border-width: 1px;
    border-style: dotted;
    display: none;
}

.editorFooter {
	background: #e0e0de;
}

.fontFormat {
	padding: 2px 2px 2px 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
