.caja-usuario {
	float: left;
}

.caja-usuario-cabecera {
	background: url(../../../images/mycleanblue/postbit.png) top left no-repeat;
	width: 200px;
	height: 11px;
}

.caja-usuario-contenido {
	background: url(../../../images/mycleanblue/contenido-postbit.png) top left repeat-y;
	width: 200px;
	height: auto;
}

.caja-usuario-pie {
	background: url(../../../images/mycleanblue/postbit.png) bottom left no-repeat;
	width: 200px;
	height: 12px;
}

.caja-usuario-datos {
	background: #fff url(../../../images/mycleanblue/fondo-postbit.png) repeat-x;
	width: 170px;
	color: #373737;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 13px;
}

.caja-mensaje {
	float: left;
	margin-top: 4px;
	margin-left: 4px;
	background: #eaeaea;
	width: 672px;
	border: 1px solid #959595;
	margin-bottom: 10px;
}

body#private .caja-mensaje {
	width: 472px;
}

.caja-mensaje-contenido {
	padding: 15px 10px;
	background: #f5f5f5;
}

.caja-mensaje-cabecera {
	border-bottom: 1px dashed #ccc;
	padding: 5px 10px;
}

.caja-mensaje-pie {
	border-top: 1px dashed #ccc;
	padding: 5px 10px;
	height: 24px;
}

.flecha {
	position: absolute;
	margin-left: -40px;
}

.adjuntos-adjunto {
	background: #fff;
	border: 1px solid #888;
	padding: 4px;
	margin-top: 4px;
}

.tamano-descargas {
	font-size: 11px;
	float: right;
	margin-top: 2px;
}

.firma {
	max-width: 630px;
	max-height: 170px;
	overflow: auto;
}

body#private .firma {
	width: 430px;
}

		