.printable {
	background: url(../../../images/mycleanblue/printable.png) no-repeat 0px 0px;
	padding: 2px;
	padding-left: 20px;
}

.sendthread {
	background: url(../../../images/mycleanblue/send.png) no-repeat 0px 0px;
	padding: 2px;
	padding-left: 20px;
}

.subscription_add {
	background: url(../../../images/mycleanblue/subscribe.png) no-repeat 0px 0px;
	padding: 2px;
	padding-left: 20px;
}

.subscription_remove {
	background: url(../../../images/mycleanblue/unsubscribe.png) no-repeat 0px 0px;
	padding: 2px;
	padding-left: 20px;
}
		
		