
#panel {
	background: #ECECEC;
	width: 980px;
	height: 35px;
	margin: auto auto;
	font: normal 11px tahoma,helvetica,arial,sans-serif;
	overflow: hidden;
	background-image: -moz-linear-gradient(#F2F2F2, #ECECEC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#ECECEC));
	background-image: -webkit-linear-gradient(#F2F2F2, #ECECEC);
	background-image: -o-linear-gradient(#F2F2F2, #ECECEC);
	background-image: -ms-linear-gradient(#F2F2F2, #ECECEC);
	background-image: linear-gradient(#F2F2F2, #ECECEC);
	border-color: #d2d2d2;
	border: 1px solid #d2d2d2;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	
	font-family: 'Segoe UI', Arial, Verdana, Sans-Serif;
}

#panel_guest {
	margin: 0px auto;
        width: 100%;
	padding:0px 0px;
}

#panel_guest li {
	float: left;
	list-style: none;
	margin: 0;
	margin-top: -5px;
	padding: 0;
	color: #fff;
	text-shadow:1px 1px 0px #111;
}

#panel_guest li a {
	color: #777;
	display: block;
        margin: 0;
	padding: 15px 15px 18px 15px;
	text-decoration: none;
	position: relative;
	text-shadow: white 0px 1px 0px;
        border-right: 1px solid #D2D2D2;
       -webkit-box-shadow: inset -1px 0px 0px 0px #F2F2F2;
       box-shadow: inset -1px 0px 0px 0px #F2F2F2;
}

#panel_guest li a:hover, #panel_guest li a:active {
	color: #696969;
	text-shadow: white 0px 1px 0px;
        background: #EEEEEE;      
        background-image: -moz-linear-gradient(#FFF, #EAEAEA);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EAEAEA));
        background-image: -webkit-linear-gradient(#FFF, #EAEAEA);
        background-image: -o-linear-gradient(#FFF, #EAEAEA);
        background-image: -ms-linear-gradient(#FFF, #EAEAEA);
        background-image: linear-gradient(#FFF, #EAEAEA);
}

#panel_member {
	margin: 0px auto;
        width: 100%;
	padding:0px 0px;
}

#panel_member li {
	float: right;
	list-style: none;
	margin: 0;
	margin-top: -5px;
	padding: 0;
	color: #fff;
	text-shadow:1px 1px 0px #111;
}

#panel_member li a {
	color: #777;
	display: block;
        margin: 0;
	padding: 4px 15px 4px 15px;
	text-decoration: none;
	position: relative;
	text-shadow: white 0px 1px 0px;
        border-left: 1px solid #D2D2D2;
       -webkit-box-shadow: inset -1px 0px 0px 0px #F2F2F2;
       box-shadow: inset -1px 0px 0px 0px #F2F2F2;
}

#panel_member li a:hover, #panel_member li a:active {
	color: #4D4D4D;
	text-shadow: white 0px 1px 0px;
}

